{% extends "layout.html" %}

{% block main%}

    <h3>Login with Google or Nextcloud</h3>
    <div id="g_id_onload"
        data-client_id="440122758723-grgqfn671i4hufekd3lannqif31cp2a9.apps.googleusercontent.com"
        data-context="signin"
        data-ux_mode="popup"
        data-login_uri="/login"
        data-nonce=""
        data-auto_prompt="false">
    </div>

    <div class="g_id_signin"
        data-type="standard"
        data-shape="pill"
        data-theme="filled_black"
        data-text="signup_with"
        data-size="large"
        data-logo_alignment="left">
    </div>



{% endblock %}